.FileDivider {
  border: 0.5px solid #d9d9d9;
  margin-top: 38px;
  margin-bottom: 20px;
}

.FileUploadSelectLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.gap {
  padding-bottom: 2rem;
}


.FileUploadDragger {
  background: #ffffff !important;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba(226, 92, 16, 0.6)' stroke-width='3' stroke-dasharray='11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") !important;
  border: 0 !important;
  border-radius: 8px !important;
}

.FileUploadDraggerContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.FileUploadDraggerText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.67);
}

.ChooseFileButtonContainer {
  margin-top: 24px;
}

.ChooseFileButton {
  background: #e17350;
  border-radius: 3px;
  box-shadow: none;
  border: 0;
  width: 116px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.ChooseFileButton:hover {
  background: #e17350;
  border-color: transparent;
  color: #ffffff;
}

.ChooseFileButton:focus {
  background: #e17350;
  border-color: transparent;
  box-shadow: none;
  color: #ffffff;
}

.ChooseFileButtonText {
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.MaxFileLimitText {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.66);
  margin-top: 4px;
}

.ErrorStyle {
  color: orangered
}
